nextflow.enable.dsl=2
// Required Parameters

includeConfig 'conf/base.config'

params.bams = "" //* @input @file
params.genome_build = "" //* @dropdown @options:"human_hg19_refseq, human_hg38_gencode_v34,human_hg38_gencode_v44,human_hg38_ensembl_v110,mouse_mm10_ensembl_v110,mouse_mm10_refseq, mouse_mm10_gencode_m25, mousetest_mm10, custom" @description:"<span style="color:red">It is essential that the genome provided matches the genome used during alignment.</span>"
params.run_GATK = "yes" //* @dropdown @options:"yes","no" @show_settings:"BaseRecalibrator"
params.run_Metrics = "no" //* @dropdown @options:"yes","no"
params.run_AnalyzeCoverage = "no" //* @dropdown @options:"yes","no"