
$HOSTNAME = "default"
params.DOWNDIR = (params.DOWNDIR) ? params.DOWNDIR : ""

_share = ""
_species = ""
_build = ""
_annotation = ""  
_subdir = ""  

//* autofill
if (params.genome_build == "mousetest_mm10"){
    _species = "mousetest"
    _build = "mm10"
    _annotation = "refseq_170804"
    _subdir = "/"
    params.gtf_type='ncbi'
} else if (params.genome_build == "human_hg19_refseq"){
    _species = "human"
    _build = "hg19"
    _annotation = "refseq_020216"
    _subdir = "/"
    params.gtf_type='ncbi'
} else if (params.genome_build == "human_hg38_gencode_v28"){
    _species = "human"
    _build = "hg38"
    _annotation = "gencode_v28"
    _subdir = "/"
    params.gtf_type='gencode'
} else if (params.genome_build == "human_hg38_gencode_v34"){
    _species = "human"
    _build = "hg38"
    _annotation = "gencode_v34"
    _subdir = "/"
    params.gtf_type='gencode'
} else if (params.genome_build == "human_hg38_gencode_v44"){
    _species = "human"
    _build = "hg38"
    _annotation = "gencode_v44"
    _subdir = "/gencode_v44/"
    params.gtf_type='gencode'
} else if (params.genome_build == "human_hg38_ensembl_v110"){
    _species = "human"
    _build = "hg38"
    _annotation = "ensembl_v110"
    _subdir = "/ensembl_v110/"
} else if (params.genome_build == "mouse_mm10_ensembl_v110"){
    _species = "mouse"
    _build = "mm10"
    _annotation = "ensembl_v110"
    _subdir="/ensembl_v110/"
} else if (params.genome_build == "mouse_mm10_refseq"){
    _species = "mouse"
    _build = "mm10"
    _annotation = "refseq_011015"
    _subdir = "/"
    params.gtf_type='ncbi'
} else if (params.genome_build == "mouse_mm10_gencode_m25"){
    _species = "mouse"
    _build = "mm10"
    _annotation = "gencode_m25"
    _subdir = "/"
    params.gtf_type='gencode'
}

if ($HOSTNAME == "default"){
    _share = "${params.DOWNDIR}/genome_data"
    $SINGULARITY_IMAGE = "quay.io/viascientific/variant_calling:1.0"
    $DOCKER_IMAGE = "quay.io/viascientific/variant_calling:1.0"
}
//* platform
//* platform
if (params.genome_build && $HOSTNAME){

    params.genome       = "${_share}/${_species}/${_build}/main/genome.fa"

    params.bwa_index    = "${_share}/${_species}/${_build}/BWAIndex"
    params.snpeff_db    = "${_annotation}"
}
if ($HOSTNAME){
    params.dataDir = ""
    params.firstRound = 1 //* @hidden
    params.secondRound = 2 //* @hidden
}
//* autofill
